# Rust
target/
Cargo.lock

# Zed Editor
.zed/

# OS
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.Trash-*


# Misc
*.log
*.tmp
*.swp
*.swo
.env
